---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700');

:root {
    --background:   #f7f9ff;
    --text:   #0c0c0c;
    --highlight:#ff3500;

    --typography: Roboto;
    --h1-size: 80px;
    --h2-size: 40px;
    --h3-size: 24px;
    --font-weight: 700;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: var(--typography), Arial;
    font-weight: 300;
    line-height: 1.5;

    max-width: 780px;
    margin: 80px auto;

    padding: 0 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin-left: 10px;
    }
}

section {
    margin: 40px 0 0 0;
}

nav a {
    color: var(--text);
    text-decoration: none;
}

nav a.selected, p a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 3px solid var(--highlight);
}

nav a:hover, p a:hover {
    border-bottom: 3px solid var(--highlight);
}

h1, h2, h3 {font-weight: var(--font-weight);}

h1 {
    font-size: var(--h1-size);
    margin: 0 0 40px 0;
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

p.readmore {
    font-weight: 700;
}

p.readmore:hover {
    color: var(--highlight);
}

p.readmore:after {
    content: " " url(/assets/img/chevron.svg);
    vertical-align: -4%;
}

div.blog-posts {

    max-width: 540px;

    a {
        text-decoration: none;
        color: var(--text);
        display: block;
        margin: 0 0 40px 0;
    }
}

div.circle {
    position: fixed;
    bottom: -250px;
    right: -250px;
    width: 500px;
    height: 500px;
    background-color: var(--highlight);
    border-radius: 50%;
}

@media (max-width: 1280px) {

    div.circle {
        bottom: -175px;
        right: -175px;
        width: 350px;
        height: 350px;
        }
}

@media (max-width: 930px) {

    img {
        width: 100%;
    }

    div.circle {
        bottom: -125px;
        right: -125px;
        width: 250px;
        height: 250px;
        }
}

div.post {
    
    h3 {
        margin-top: 80px;
    }

    p {
        max-width: 540px;
        margin-bottom: 40px;
    }

}

img {
    max-width: 780px;
}

*::selection {
    background-color: var(--highlight);
    color: var(--background);
}
